// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'Mark Pro';
    src: font('MarkPro-Heavy.woff2') format('woff2'),
        font('MarkPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mark Pro Narrow';
    src: font('MarkPro-NarrowBook.woff2') format('woff2'),
        font('MarkPro-NarrowBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mark Pro Narrow';
    src: font('MarkPro-NarrowBold.woff2') format('woff2'),
        font('MarkPro-NarrowBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

