/**
 * Basic typography style for copy text
 */
h1,
.h1 {
    @include typography(58px, 62px, 85px, 85px, 900);
    letter-spacing: -0.02em
}
h2,
.h2 {
    @include typography(36px, 32px, 60px, 62px, 900);
    letter-spacing: -0.02em;
}
h3,
.h3 {
    @include typography(15px, 18px, 32px, 32px, 700, $f-narrow);
    letter-spacing: -0.01em;
}
.h3-large {
    @include typography(24px, 24px, 32px, 32px, 700, $f-narrow);
    letter-spacing: -0.01em;
}
h4,
.h4 { 
    @include typography(15px, 18px, 15px, 18px, 900);
    letter-spacing: -0.02em;
}
p,
.text-large {
    @include typography(18px, 27px, 26px, 39px, 400, $f-narrow);
    letter-spacing: -0.01em;
}
.text-medium {
    font: 400 18px/27px $f-narrow;
    letter-spacing: -0.01em;
}
.text-small {
    font: 400 14px/21px $f-narrow;
    letter-spacing: -0.01em;
}