:root {
    --gutter: 25px;
    --max-width: 1200px;

    --text-color: #354b58;
    --bg-color: #354b58;

    --color-cyan: #00ebeb;
    --color-yellow: #ffbf00;
    --color-pink: #ff00ff;
    --color-purple: #7d63ff;
    --color-green: #59ff96;
    --color-grey: #e1e4e1;
}