.content-image {
  &__left {
    @include when-inside('.content-image--default') {
      @include mq(tablet, max) {
        text-align: center;
      }
    }
    @include mq(tablet) {
      flex: 0 0 400px;
    }
  }
  &__inner {
    @include mq(tablet) {
      display: flex;
      align-items: center;
      @include when-inside('.content-image--inline') {
        position: relative;
        align-items: flex-start;
      }
    }
  }
  &__heading {
    @include when-inside('.content-image--inline') {
      @include mq(tablet, max) {
        margin-bottom: 30px; 
      }
      @include mq(tablet) {
        max-width: 150px;
      }
    }
  }
  &__title {
    pointer-events: none;
  }
  &__copy {
    @include when-inside('.content-image--inline') {
      position: relative;
      z-index: 1;
      @include mq(tablet) {
        width: vw(650px);
        max-width: 650px;
      }
    }
    p {
      margin-bottom: 30px;
      @include when-inside('.content-image--inline') {
        @include typography(24px, 24px, 58px, 60px, 700);
      }
    }
  }
  &__image {
    @include mq(tablet) {
      margin-left: -130px;
    }
  }
}