.image-slider {
  padding: 0;
  overflow-x: hidden;
  .slick-list,
  .slick-track {
    overflow: visible;
  }
  .slick-slide {
    height: 310px;
    object-fit: cover;
    @include mq(tablet) {
      height: 485px;
    }
  }
}