.loop-person {
  display: flex;
  flex-direction: column-reverse;
  @include mq(tablet) {
    flex-direction: row;
    max-width: 725px;

  }
  &__right {
    margin-bottom: 20px;
    @include mq(tablet) {
      margin-left: 30px;
      margin-bottom: 0;
      flex: 0 0 225px;
      text-align: right;
    }
  }
  &__bio {
    @include mq(tablet) {
      font-size: 18px;
      line-height: 27px;
    }
  }
  &__title {
    color: var(--theme-color);
    @include typography(24px, 24px, 32px, 32px, 700, $f-narrow);
  }
  &__role {
    margin-bottom: 20px;
    @include typography(24px, 24px, 32px, 32px, 700, $f-narrow);
  }
  &__socials {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    align-items: center;
    @include mq(tablet) {
      justify-content: flex-end;
    }
  }
  &__social {
    margin: 0 5px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}