.people {
  overflow: hidden;
  text-align: center;
  color: #fff;
  &-bg {
    &__left,
    &__right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      width: 170px;
      @include mq(tablet) {
        width: 534px;
      }
    }
    &__left {
      left: -85px;
      @include mq(tablet) {
        left: -300px;
      }
    }
    &__right {
      right: -85px;
      @include mq(tablet) {
        right: -300px;
      }
    }
  }
  .container {
    @include mq(tablet, max) {
      --gutter: 42.5px;
    }
    @include mq(tablet) {
      --max-width: 620px;
    }
  }
  .container-fluid {
    position: relative;
  }
  &-heading {
    margin-bottom: 30px;
  }
  &-copy {
    margin-bottom: 30px;
    // p {
    //   @include mq(tablet, max) {
    //     font-family: $f-hairline;
    //   }
    // }
  }
  &-join {
    @include mq(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__heading {
      margin-bottom: 20px;
      @include mq(tablet) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }
  &-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
  &-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
  &-img {
    position: absolute;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    pointer-events: none;
    transition: all .1s ease-in-out;
    animation: orbit 4s linear infinite;
    @include mq(tablet) {
      width: 250px;
      height: 250px;
    }
    @include when-inside('.people-left') {
      &:first-child {
        top: 100px;
        left: -90px;
        @include mq(tablet) {
          top: -280px;
          left: 0;
        }
      }
      &:nth-child(2) {
        top: -50px;
        left: -30px;
        animation-direction: reverse;
        animation-duration: 3s;
        @include mq(tablet) {
          top: 0;
          left: -80px;
        }
      }
      &:nth-child(3) {
        opacity: 0;
        @include mq(tablet) {
          top: 200px;
          left: 170px;
          opacity: 1;
        }
      }
      &:nth-child(4) {
        top: 250px;
        left: -30px;
        animation-direction: reverse;
        animation-duration: 5s;
        @include mq(tablet) {
          top: 300px;
          left: -130px;
        }
      }
    }
    @include when-inside('.people-right') {
      &:first-child {
        top: -70px;
        right: -30px;
        animation-direction: reverse;
        animation-duration: 3s;
        @include mq(tablet) {
          top: -300px;
          right: -130px;
        }
      }
      &:nth-child(2) {
        top: 80px;
        right: -80px;
        animation-duration: 5s;
        @include mq(tablet) {
          top: -200px;
          right: 140px;
        }
      }
      &:nth-child(3) {
        top: 250px;
        right: -40px;
        @include mq(tablet) {
          top: 50px;
          right: -30px;
        }
      }
      &:nth-child(4) {
        opacity: 0;
        animation-direction: reverse;
        animation-duration: 6s;
        @include mq(tablet) {
          opacity: 1;
          top: 270px;
          right: 170px;
        }
      }
    }
  }
}