.people {
  text-align: center;
  color: #fff;
  &-bg {
    &__left,
    &__right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      width: 170px;
      @include mq(tablet) {
        width: 534px;
      }
    }
    &__left {
      left: -85px;
      @include mq(tablet) {
        left: -300px;
      }
    }
    &__right {
      right: -85px;
      @include mq(tablet) {
        right: -300px;
      }
    }
  }
  .container {
    @include mq(tablet, max) {
      --gutter: 42.5px;
    }
    @include mq(tablet) {
      --max-width: 620px;
    }
  }
  .container-fluid {
    position: relative;
  }
  &-heading {
    margin-bottom: 30px;
  }
  &-copy {
    margin-bottom: 30px;
    // p {
    //   @include mq(tablet, max) {
    //     font-family: $f-hairline;
    //   }
    // }
  }
  &-join {
    @include mq(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__heading {
      margin-bottom: 20px;
      @include mq(tablet, max) {
        font-family: $f-hairline;
      }
      @include mq(tablet) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }
}