.section-cta {
  padding: 50px 0;
  --max-width: 950px;
  .container {
    display: flex;
    align-items: center;
  }
  &__image {
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 130px;
    overflow: hidden;
    @include mq(tablet) {
      margin-right: 50px;
      max-width: 240px;
    }
    img {
      display: block;
      width: 130px;
      height: 130px;
      object-fit: cover;
      @include mq(tablet) {
        width: 240px;
        height: 240px;
      }
    }
  }
  &__heading {
    margin-bottom: 20px;
    @include when-inside('.bg-purple') {
      color: #fff;
    }
  }
}