.service-blocks {
  color: #fff;
  overflow-x: hidden;
  &-section {
    padding-top: 0;
    @include mq(tablet) {
      padding: 0;
    }
    .container {
      @include mq(tablet, max) {
        padding: 0;
      }
    }
  }
}
.service-block {
  position: relative;
  margin-bottom: 30px;
  padding: 0 30px;
  @include mq(tablet) {
    display: flex;
    margin-bottom: 0;
    padding: 50px 0;
    align-items: center;
    &:nth-child(even) {
      flex-direction: row-reverse;
      .service-block__img {
        margin-left: 70px;
        margin-right: 0;
      }
    }
  }
  &:not(:first-child) {
    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      width: calc(100% - 320px);
      height: 0;
      border-top: 7px dotted var(--theme-color);
      transform: translateX(-50%);
      @include mq(tablet) {
        content: '';
      }
    }
  }
  &__img {
    position: relative;
    margin-bottom: 30px;
    @include mq(tablet, max) {
      text-align: center;
    }
    @include mq(tablet) {
      margin-bottom: 0;
      flex: 0 0 320px;
      margin-right: 70px;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: calc(100% + 100px); 
      border-left: 7px dotted var(--theme-color);
      @include mq(tablet) {
        content: '';
      }
    }
    img {
      position: relative;
      z-index: 1;
      @include mq(tablet, max) {
        margin: 0 auto;
      }
    }
  }
  &__title {
    margin-bottom: 20px;
    @include typography(24px, 24px, 32px, 32px, 700, $f-narrow);
  }
  &__copy {
    margin-bottom: 30px;
    @include mq(tablet) {
      margin-bottom: 0px;
      flex-grow: 1;
    }
    p {
      @extend .text-medium;
    }
  }
}