.work-grid {
  padding: 100px 0 0;
  color: #fff;
  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .section-heading {
    margin-right: 20px;
    &:only-child {
      margin: 0 auto;
    }
    span {
      color: var(--theme-color);
    }
  }
}
.works {
  margin-top: 36px;
  @include mq(tablet) {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));  
  }
}