.work-grid {
  color: #fff;
  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.works {
  margin-top: 36px;
  @include mq(tablet) {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));  
  }
}