// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  transition: background .3s ease-in-out;
  @include adminbar-offset;
  --max-width: 1400px;
  @include mq(tablet) {
    padding: 0;
  }
  &--sticky {
    background-color: $dark-blue;
    @include mq(tablet, max) {
      top: 0 !important;
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    @include mq(desktop, max) {
      justify-content: space-between;
    }
  }
  &-logo {
    display: inline-block;
    width: 100px;
    @include mq(tablet) {
      width: 180px;
    }
  }
  &-mobile {
    @include mq(desktop, max) {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      width: 100%;
      align-items: flex-end;
      justify-content: space-between;
      background-color: $dark-blue;
    }
    @include mq(desktop) {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }
  &-menu {
    list-style: none;
    @include mq(desktop, max) {
      flex: 0 0 50%;
      max-width: 50%;
      // &:only-child {
      //   flex: 0 0 100%;
      // }
    }
    @include mq(desktop) {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
    > .menu-item {
      transition: background .3s ease-in-out;
      will-change: background;
      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq(desktop) {
          height: 100px;
        }
      }
    }
    .menu-item {
      @include mq(desktop) {
        padding: 0 20px;
      }
      a {
        @include mq(desktop, max) {
          display: block;
          padding: 20px 10px;
          background-color: rgba($green, 0.8);
          color: $text-color;
          font: 700 14px/15.4px $f-narrow;
          border-bottom: 1px solid $dark-blue;
        }
        @include mq(desktop) {
          font: 700 17px/18px $f-narrow;
          color: #fff;
        }
      }
    }
    > .menu-item  {
      &:hover {
        background-color: rgba($green, 0.8);
        .sub-menu {
          @include element-show;
        }
      }
      & > a {
        position: relative;
        @include mq(desktop) {
          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            content: '';
            width: calc(100% + 20px); 
            height: 110px;
            transform: translate(-50%, -50%);
            transition: all .3s ease-in-out;
            z-index: -1;
          }
        }
      }
      &.current-menu-item,
      &.current-menu-ancestor {
        > a {
          @include mq(desktop) {
            color: $green;
          }
        }
        &:hover {
          > a {
            @include mq(desktop) {
              color: $dark-blue;
            }
          }
        }
      }
      &.current-menu-ancestor {
        > a {
          position: relative;
          &::after {
            position: absolute;
            right: 20px;
            content: "\f054";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: var(--fa-display,inline-block);
            font-style: normal;
            font-variant: normal;
            line-height: 1;
            text-rendering: auto;
            @include mq(desktop) {
              content: none;
            }
          }
        }
      }
    }
    .sub-menu {
      position: absolute;
      top: 0;
      padding: 0;
      list-style: none;
      @include element-hidden;
      @include mq(desktop, max) {
        left: 50%;
        width: 50%;
      }
      @include mq(desktop) {
        top: 100%;
        margin-left: -20px;
      }
      .menu-item {
        padding: 0;
        &.current-menu-item a {
          background-color: $green;
        }
        a {
          display: block;
          padding: 20px 30px;
          background-color: rgba($green, 0.8);
          color: $text-color;
          transition: background .3s ease-in-out;
          @include mq(desktop, max) {
            border-left: 1px solid $dark-blue;
          }
          &:hover {
            background-color: $green;
          }
        }
      }
    }
  }
  &-ctas {
    display: flex;
    @include mq(desktop) {
      margin-left: 60px;
    }
  }
  .hamburger {
    display: inline-flex;
    margin-right: calc(var(--gutter) * -1);
    width: 50px;
    height: 50px;
    appearance: none;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    @include mq(desktop) {
      display: none;
    }
    &.active {
      background-color: rgba($green, 0.8);
      color: $text-color;
    }
  }
}
